PyPDF2
asn1==2.2.0
asn1crypto==1.2.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
decorator==4.4.1
idna==2.8
pdfminer.six==20191110
pycparser==2.19
pycryptodome==3.9.4
pykcs11==1.5.7
pyOpenSSL==19.1.0
requests==2.22.0
six==1.13.0
sortedcontainers==2.1.0
urllib3==1.25.7
validators==0.14.1
